<!doctype html>
<html lang="kr">

    <head>
        <meta charset="utf-8">
        <title>암고잉</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="p-wrapp">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container">
            <div class="row">
                <div class="col-12 s-page">
                    <div id="primary" class="content-area">
                                                <h2><strong>암고잉</strong> <strong>개인정보처리방침</strong></h2>
<p><strong> </strong></p>
<ol>
<li>
<h3><strong>개인정보처리방침이란</strong><strong>?</strong></h3>
</li>
</ol>
<p>암고잉(이하&#8221;암고잉&#8221;)는 이용자의 ‘<strong>동의를</strong> <strong>기반으로</strong> <strong>개인정보를</strong> <strong>수집</strong><strong>·</strong><strong>이용</strong> <strong>및</strong> <strong>제공</strong>’하고 있으며, ‘<strong>이용자의</strong> <strong>권리</strong>(개인정보 자기결정권)<strong>를</strong> <strong>적극적으로</strong> <strong>보장</strong>’합니다.</p>
<p>회사는 정보통신서비스제공자가 준수하여야 하는 대한민국의 관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.</p>
<p>“개인정보 처리방침”이란 이용자의 소중한 개인정보를 보호함으로써 이용자가 안심하고 서비스를 이용할 수 있도록 회사가 준수해야 할 지침을 의미합니다. 본 개인정보 처리방침은 <strong>암고잉</strong> <strong>서비스</strong>(이하 &#8216;암고잉&#8217; 또는 &#8216;서비스&#8217;라 함)에 적용됩니다.</p>
<p>&nbsp;</p>
<ol start="2">
<li>
<h3><strong>개인정보</strong> <strong>수집</strong></h3>
</li>
</ol>
<h4><strong>서비스</strong> <strong>제공을</strong> <strong>위해</strong> <strong>필요한</strong> <strong>최소한의</strong> <strong>개인정보를</strong> <strong>수집하고</strong> <strong>있습니다</strong><strong>.</strong></h4>
<p>회원 가입 시 또는 서비스 이용 과정에서 홈페이지 또는 개별 어플리케이션이나 프로그램 등을 통해 아래와 같은 서비스 제공을 위해 필요한 최소한의 개인정보를 수집하고 있습니다.</p>
<p>&nbsp;</p>
<p><strong>[</strong><strong>암고잉</strong><strong>]</strong></p>
<p><strong>필수</strong></p>
<p>이메일, 이름(닉네임)</p>
<p>&nbsp;</p>
<p><strong>[</strong><strong>암고잉계정</strong><strong>]</strong></p>
<p><strong>필수</strong></p>
<p>이메일, 이름(닉네임)</p>
<p>&nbsp;</p>
<p>일부 서비스에서는 특화된 여러 기능들을 제공하기 위해 &#8216;암고잉&#8217;에서 공통으로 수집하는 정보 외 이용자 동의 후 추가적인 개인정보를 수집할 수 있습니다.</p>
<ul>
<li>필수정보란?</li>
</ul>
<p>해당 서비스의 본질적 기능을 수행하기 위한 정보</p>
<ul>
<li>선택정보란?</li>
</ul>
<p>보다 특화된 서비스를 제공하기 위해 추가 수집하는 정보 (선택 정보를 입력하지 않은 경우에도 서비스 이용 제한은 없습니다.)</p>
<p>&nbsp;</p>
<p><strong>개인정보를</strong> <strong>수집하는</strong> <strong>방법은</strong> <strong>다음과</strong> <strong>같습니다</strong><strong>.</strong></p>
<p>개인정보를 수집하는 경우에는 반드시 사전에 이용자에게 해당 사실을 알리고 동의를 구하고 있으며, 아래와 같은 방법을 통해 개인정보를 수집합니다.</p>
<ul>
<li>회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고 직접 정보를 입력하는 경우</li>
<li>제휴 서비스 또는 단체 등으로부터 개인정보를 제공받은 경우</li>
<li>고객센터를 통한 상담 과정에서 웹페이지, 메일, 팩스, 전화 등</li>
</ul>
<p>&nbsp;</p>
<p><strong>서비스</strong> <strong>이용</strong> <strong>과정에서</strong> <strong>이용자로부터</strong> <strong>수집하는</strong> <strong>개인정보는</strong> <strong>아래와</strong> <strong>같습니다</strong><strong>.</strong></p>
<p>모바일 앱 이용 과정에서 단말기정보(OS, 화면사이즈, 디바이스 아이디), IP주소, 쿠키, 방문일시, 부정이용기록, 서비스 이용 기록 등의 정보가 자동으로 생성되어 수집될 수 있습니다.</p>
<p>&nbsp;</p>
<ol start="3">
<li>
<h3><strong>개인정보</strong> <strong>이용</strong></h3>
</li>
</ol>
<h4><strong>회원관리</strong><strong>, </strong><strong>서비스</strong> <strong>제공</strong><strong>·</strong><strong>개선</strong><strong>, </strong><strong>신규</strong> <strong>서비스</strong> <strong>개발</strong> <strong>등을</strong> <strong>위해</strong> <strong>이용합니다</strong><strong>.</strong></h4>
<p>회원 가입 시 또는 서비스 이용 과정에서 홈페이지 또는 개별 어플리케이션이나 프로그램 등을 통해 아래와 같이 서비스 제공을 위해 필요한 최소한의 개인정보를 수집하고 있습니다.</p>
<ul>
<li>회원 식별/가입의사 확인, 부정이용 방지</li>
<li>만 14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 법정 대리인 권리행사 시 본인 확인</li>
<li>인구통계학적 특성에 따른 분석 및 서비스 제공</li>
<li>신규 서비스 개발, 다양한 서비스 제공, 문의사항 또는 불만처리, 공지사항 전달</li>
<li>서비스의 원활한 운영에 지장을 주는 행위(계정 도용 및 부정 이용 행위 등 포함)에 대한 방지 및 제재</li>
<li>서비스 이용 기록, 접속 빈도 및 서비스 이용에 대한 통계, 프라이버시 보호 측면의 서비스 환경 구축, 맞춤형 서비스 제공, 서비스 개선에 활용</li>
</ul>
<p>&nbsp;</p>
<ol start="4">
<li>
<h3><strong>개인정보</strong> <strong>제공</strong></h3>
</li>
</ol>
<p>암고잉는 이용자의 별도 동의가 있는 경우나 법령에 규정된 경우를 제외하고는 이용자의 개인정보를 제3자에게 제공하지 않습니다.</p>
<p>&nbsp;</p>
<ol start="5">
<li>
<h3><strong>개인정보</strong> <strong>파기</strong></h3>
</li>
</ol>
<h4><strong>개인정보는</strong> <strong>수집</strong> <strong>및</strong> <strong>이용목적이</strong> <strong>달성되면</strong> <strong>지체없이</strong> <strong>파기하며</strong><strong>, </strong><strong>절차</strong> <strong>및</strong> <strong>방법은</strong> <strong>다음과</strong> <strong>같습니다</strong><strong>.</strong></h4>
<p>전자적 파일 형태인 경우 복구 및 재생되지 않도록 안전하게 삭제하고, 그 밖에 기록물, 인쇄물, 서면 등의 경우 분쇄하거나 소각하여 파기합니다.</p>
<ul>
<li>안내메일 발송 및 CS문의 대응을 위해 카카오계정과 탈퇴안내 이메일 주소를 암호화하여 보관</li>
<li>서비스 부정이용 기록</li>
</ul>
<p>또한, 암고잉는 ‘개인정보 유효기간제’에 따라 1년간 서비스를 이용하지 않은 회원의 개인정보를 별도로 분리 보관 또는 삭제하며, 분리 보관된 개인정보는 4년간 보관 후 지체없이 파기합니다.</p>
<p>&nbsp;</p>
<ol start="6">
<li>
<h3><strong>기타사항</strong></h3>
</li>
</ol>
<h4><strong>암고잉는</strong> <strong>여러분의</strong> <strong>권리를</strong> <strong>보호합니다</strong><strong>.</strong></h4>
<p>언제든 자신의 개인정보(만 14세 미만인 경우 법정 대리인)를 조회하거나 수정할 수 있으며 수집・이용에 대한 동의 철회 또는 가입 해지를 요청할 수도 있습니다. 보다 구체적으로는 서비스 내 설정 기능을 통한 변경, 가입 해지(동의 철회)를 위해서는 서비스 내 &#8220;회원탈퇴&#8221;를 클릭하면 되며, 고객센터를 통해 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다. 개인정보의 오류에 대한 정정을 요청하신 경우 정정을 완료하기 전까지 해당 개인정보를 이용 또는 제공하지 않습니다.</p>
<p>&nbsp;</p>
<p>또한 개인정보가 침해되어 이에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하셔서 도움을 받으실 수 있습니다.</p>
<p><strong>개인정보침해</strong> <strong>신고센터</strong></p>
<ul>
<li>(국번없이)118</li>
<li>http://privacy.kisa.or.kr</li>
</ul>
<p>&nbsp;</p>
<p><strong>대검찰청</strong> <strong>사이버</strong> <strong>범죄</strong> <strong>수사단</strong></p>
<ul>
<li>02-3480-3571</li>
<li>cybercid@spo.go.kr</li>
</ul>
<p>&nbsp;</p>
<p><strong>경찰청</strong> <strong>사이버테러대응센터</strong></p>
<ul>
<li>(국번없이)182</li>
<li>http://cyberbureau.police.go.kr</li>
</ul>
<p>&nbsp;</p>
<p><strong>개인정보</strong> <strong>처리방침이</strong> <strong>변경되는</strong> <strong>경우</strong></p>
<p>법률이나 서비스의 변경사항을 반영하기 위한 목적 등으로 개인정보 처리방침을 수정할 수 있습니다. 개인정보 처리방침이 변경되는 경우 암고잉는 변경 사항을 게시하며, 변경된 개인정보 처리방침은 게시한 날로부터 7일 후부터 효력이 발생합니다. 다만, 수집하는 개인정보의 항목, 이용목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 30일 전에 미리 알려드리겠습니다.</p>
<ul>
<li>공고일자: 2020년 11월 1일</li>
<li>시행일자: 2020년 11월 8일</li>
</ul>
<p>최종갱신일：2020년 11월 1일</p>
                                                                    </div><!-- .content-area -->
                </div>
            </div>
        </div>
</body>

</html>